<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Chatbot RAG</title>
  <link rel="stylesheet" href="./assets/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<ul class="chat-thread">
	<li>Halo saya adalah pengguna chat bot</li>
	<li>Hai, saya adalah bot. Tanyakan apa yang ingin kamu ketahui.</li>
</ul>

<form class="chat-window">
	<input class="chat-window-message" name="chat-window-message" type="text" autocomplete="off" autofocus />
</form>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="./assets/script.js"></script>
	<script  src="./assets/index.js"></script>
</body>
</html>
